.phone {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.phone .phoneVideo {
  text-align: center;
}
.phone .rating {
  font-size: 10px;
  text-align: center;

}
.phone .rating img {
  width: 30vh;
}

.phone .download {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.phone .download img {
  width: 40%;
}
#phoneImage{
  width: 800px;
}
@media (max-width: 500px) {
    .phone .rating {
        width: 100%;
        font-size: 10px;
        text-align: center;
      }
    .phone .download {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .phone .download img {
      width: 60%;
    }
  }