.secureAccount div{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    padding: 2px;

}

.secureAccount h3{
    font-weight: 400;
}
.secureAccount div p{
    
    width: fit-content;
}

.secureAccount i{
    color: orange;
}